/* this is replaced to dynamic js and css loading. @see index.ts
/*@import url('//netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/css/bootstrap-combined.min.css');*/

#myCarousel {
    margin-top: 40px;
}
.carousel-linked-nav, .item img {
    display: block;
    margin: 0 auto;
}
.carousel-linked-nav {
    width: 120px;
    margin-bottom: 20px;
}


#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
#section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}